chromadb
transformers
sentence-transformers
langchain-community
langchain-huggingface
accelerate>=0.26.0
# torch support GPU CUDA https://pytorch.org/get-started/previous-versions/
--extra-index-url https://download.pytorch.org/whl/cu121 # pour torchaudio
torch==2.2.0+cu121
torchvision==0.17.0+cu121
torchaudio==2.2.0+cu121
# lecture PDF
pypdf
pyyaml