chromadb==0.6.3
transformers==4.49.0
sentence-transformers==3.4.1
langchain-community==0.3.18
langchain-huggingface==0.1.2
accelerate==1.4.0
# torch support GPU CUDA https://pytorch.org/get-started/previous-versions/
--extra-index-url https://download.pytorch.org/whl/cu126 # pour CUDA torch https://download.pytorch.org/whl/
torch==2.6.0+cu126
torchvision==0.21.0+cu126
torchaudio==2.6.0+cu126
# quantification
bitsandbytes==0.45.3
# lecture PDF
pypdf==5.3.0
pyyaml==6.0.2
# pour historique des versions paquets installés
pipdeptree